/* donate button (extra2) */
button[dlgtype=extra2] label
{
	padding: 0px 2em;
	margin: 0;
	max-height: 1.6em; /* slimmer donate button */
}


button[dlgtype=extra2] {
	background: linear-gradient(to bottom, rgba(254,204,177,1) 0%, rgba(241,116,50,1) 50%, rgba(234,85,7,1) 51%, rgba(251,149,94,1) 100%) !important;
}

button[dlgtype=extra2] {
	margin: 2px 0px;
	-moz-appearance: none;
	border-radius: 2em;
	box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.7);
	color: #fff;
	font-weight: bold;
	border: 1px solid #fff;
	background: rgb(254,204,177);
	transition-property: box-shadow, margin;
	transition-duration: 0.75s, 0.2s;
}

button[dlgtype=extra2]:hover {
	margin: 3px -1px 1px 1px;
	box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, 0.8);
	background: rgb(254,222,178);
	background: linear-gradient(to bottom, rgba(254,222,178,1) 0%, rgba(241,162,51,1) 50%, rgba(235,140,7,1) 51%, rgba(251,186,95,1) 100%);
}

button[dlgtype=extra2]:active
{
	margin: 4px -2px 0px 2px;
	box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, 0.9);
	background: rgb(254,222,178);
	background: linear-gradient(to bottom, rgba(254,222,178,1) 0%, rgba(241,162,51,1) 50%, rgba(235,140,7,1) 51%, rgba(251,186,95,1) 100%);
}

.dialog-button-box button { margin-top: 0px; }

