
/* shared widgets */
#quickFiltersBtnHelp {
  display: -moz-box;
}

#quickFiltersBtnHelp {
	list-style-image: url("chrome://quickfilters/skin/help_24.png");
}

#quickFiltersHelpBar {
  display: block;
  position: fixed;
  top: 16px;
  right: 16px;
  background-color: transparent !important;
  background-image: none !important;
}