:root[lwt-tree-brighttext] #quickfilters-toolbar {
  --toolbarbutton-hover-background: var(--lwt-toolbarbutton-hover-background, rgba(0, 0, 0, .1));
  --toolbarbutton-hover-bordercolor: var(--lwt-toolbarbutton-hover-background, rgba(0, 0, 0, .1));
  --toolbarbutton-active-background: var(--lwt-toolbarbutton-active-background, rgba(0, 0, 0, .15));
  --toolbarbutton-active-bordercolor: var(--lwt-toolbarbutton-active-background, rgba(0, 0, 0, .15));
  --toolbarbutton-active-boxshadow: 0 0 0 1px var(--lwt-toolbarbutton-active-background, rgba(0, 0, 0, .15)) inset;
  --toolbarbutton-checkedhover-backgroundcolor: var(--lwt-toolbarbutton-hover-background, rgba(0, 0, 0, .2));
}

#quickFilterNotificationBox {
	width: 100%;
}
#quickFilterNotification {
	width: 100%;
}
#quickFilterNotificationBox .messageImage {
	width: 24px;
	height: 24px;
	margin: 5px;
}

/* All toolbar buttons */
#quickfilters-toolbar > toolbabutton {
  display: -moz-box;
  margin-top: 4px;
  margin-bottom: 4px;
}

#quickFiltersDuplicateList, #quickFiltersFoundResults {
  margin-top: 8px;
  margin-bottom: 8px;
  max-width: 45em;
}


/* Clipboard in-list styles - affect filter entries that are marked to cut / copy */
.quickFiltersCopy listcell:first-child,
.quickFiltersCut listcell:first-child {
	font-style:italic;
}

/* options for search box */
#quickFilters-SearchOptions {
  -moz-appearance: none; /* toolbarbutton !important; none works better in Ubuntu */
	background: transparent !important;
	background-size: 16px 16px !important;
	border-style: none !important;
	min-height:16px;
	min-width:24px;
	height:16px !important;
	padding-top: 0;
	padding-bottom: 0;
	-moz-image-region: rect(0px, 16px, 16px, 0px);
	margin-left: auto;
	margin-right: 2px;
	list-style-image: url("chrome://quickfilters/content/skin/settings.svg");
	-moz-context-properties: fill;
	fill: currentColor;
}
#searchBox {
  margin-left: 0px;
}

/* Cut */
#quickFiltersCut,
#quickFiltersBtnCut {
	list-style-image: url("chrome://messenger/skin/icons/cut.svg");
}

.quickFiltersCut label {
  background-image: url("chrome://messenger/skin/icons/cut.svg") !important;
  background-repeat: no-repeat;
  padding-left: 18px;
}


/* Copy */
#quickFiltersCopy,
#quickFiltersBtnCopy {
	list-style-image: url("chrome://messenger/skin/icons/copy.svg");
}

.quickFiltersCopy label {
  background-image: url("chrome://messenger/skin/icons/copy.svg") !important;
  background-repeat: no-repeat;
  padding-left: 18px;
}

/* Paste */
#quickFiltersPaste,
#quickFiltersBtnPaste {
	list-style-image: url("chrome://messenger/skin/icons/paste.svg");
}

/* Merge */
#quickFiltersBtnMerge {
	list-style-image: url("chrome://quickfilters/content/skin/join.svg");
}
/* Sort */
#quickFiltersBtnSort {
	list-style-image: url("chrome://quickfilters/content/skin/sort.svg");
}

/* Duplicate */
#quickFiltersRemoveDuplicate {
	list-style-image: url("chrome://quickfilters/content/skin/duplicates.svg");
}

#quickFiltersBtnClone {
	list-style-image: url("chrome://quickfilters/content/skin/clone.svg");
}

#quickFiltersTroubleshoot {
	list-style-image: url("chrome://quickfilters/content/skin/bug.svg");
}
#quickFiltersTroubleshoot.faulty {
	fill: red;
}

#quickFiltersBtnDupe {
  list-style-image: url("chrome://quickfilters/content/skin/duplicates.svg");
}
#quickFiltersBtnCancelDuplicates, #quickFiltersBtnCancelFound {
  list-style-image: url("chrome://quickfilters/content/skin/cancel.svg");
}

#quickFiltersBtnStart {
	list-style-image: url("chrome://quickfilters/content/skin/QuickFilters.svg");
}

#quickFiltersBtnSettings {
	list-style-image: url("chrome://quickfilters/content/skin/settings.svg");
}

/* Sorting and Ordering ...  */
#reorderTopButton {
	list-style-image: url("chrome://messenger/skin/icons/move-top.svg");
}

#reorderBottomButton {
	list-style-image: url("chrome://messenger/skin/icons/move-bottom.svg");
}

#reorderDownButton {
	list-style-image: url("chrome://messenger/skin/icons/move-down.svg");
}

#reorderUpButton {
	list-style-image: url("chrome://messenger/skin/icons/move-up.svg");
}


#reorderTopButton .button-icon,
#reorderBottomButton .button-icon,
#reorderDownButton .button-icon,
#reorderUpButton .button-icon {
    margin-inline-end: 2px;
	-moz-context-properties: fill;
	fill: currentColor;
}

#quickFilters-mergeButton {
	list-style-image: url("chrome://quickfilters/content/skin/merge.svg");
}

/* obsolete ? */
#serverMenu {
	min-width: 20em;
	width:70%;
}

#btnSaveFilters {
	list-style-image: url("chrome://quickfilters/content/skin/save.svg");
}

#btnLoadFilters {
	list-style-image: url("chrome://quickfilters/content/skin/open.svg");
}