
/* shared widgets */
#quickFiltersBtnHelp {
  display: -moz-box;
}

#quickFiltersBtnHelp {
	list-style-image: url("chrome://quickfilters/content/skin/help.svg");
  /* Tb 102 */
  -moz-context-properties: fill;
  fill: currentColor;
}

@media (prefers-color-scheme: dark) {
  #quickFiltersBtnHelp {
  }
}

#quickFiltersHelpBar {
  display: block;
  position: fixed;
  top: 16px;
  right: 16px;
  background-color: transparent !important;
  background-image: none !important;
}

/*custom search conditions: overloading the textbox */

/* style the file picker + textbox elements so that the textbox stretches */
hbox.flexelementcontainer {
  display: inline-flex !important;
}
hbox.flexelementcontainer[hidden] {
  display: none !important;
}
input.flexinput {
  flex-grow: 2 !important;
}

/* bindings removed for Thunderbird 78 */
.search-value-custom[searchAttribute="quickFilters@axelg.com#replyTo"] {
  flex-grow: 2
}

.search-value-custom[searchAttribute="quickFilters@axelg.com#replyTo"] .qi-textbox {
	background-image:  url("chrome://quickfilters/content/skin/QuickFilters_32.svg");
  padding-right: 20px;
  background-size: auto 20px;
	background-repeat: no-repeat;
	background-position: right center;
}

#quickFilters-CustomTemplate {
  background: rgb(0,0,64);
	background-image: url("chrome://messenger/skin/preferences/background.png");
  color: white;
	font-weight: bold;
	font-family: Calibri, Sans-serif;
	font-size: 16px;
	margin-bottom: 6px;
  padding: 4px;
	text-align: left;
	text-shadow: 2px 2px 2px rgba(60,60,60,0.4);
}
#customLogo {
  margin-left: 5px;
	/* just a hack as I don't appear to be able to use img url for a chrome address? */
	background-image:url("chrome://quickfilters/content/skin/proFeature24.png");
	width: 54px;
	height: 24px;
}

#quickFilters-Options-Tabbox tab .tab-icon {
	margin-right: 5px;
	margin-left: 3px;
}

/* SEPARATED ANIMATION RULES TO DISABLE IN PRO VERSION */
/* menuitem.cmd[tagName="qfRegister"] .menu-iconic-icon,  */
/*  shorthand:
    animation : animation-name animation-duration animation-timing-function animation-delay animation-iteration-count animation-direction
		*/

@keyframes quickfiltersRotateY {
  from {
	  transform: rotateY(0deg);
	}
	to {
	  transform: rotateY(359deg);
	}
}

#quickFilters-Pro.free .tab-icon {
  animation: quickfiltersRotateY 3s linear 0.3s infinite ;
	height: 19px;
	width: 30px;
}

#quickFilters-Pro.paid .tab-icon {
	animation: none !important;
}

@keyframes quickfiltersPulse {	to {box-shadow: 0 0 0 10px rgba(150, 80, 60, 0.12);}}

#quickFilters-Pro.expired .tab-icon,
#btnLicense {
  animation: quickfiltersPulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
	box-shadow: 0 0 0 0px rgba(40, 40, 40, 0.0);
}
#btnLicense:hover {
	animation: none;
}

/* ICON RULE TO OVERWRITE IN PRO VERSION */
/* menuitem.cmd[tagName="qfRegister"],  */
tab#quickFilters-Pro {
	list-style-image : url('chrome://quickfilters/content/skin/pro.png') !important;
}

tab#quickFilters-Pro.paid {
	list-style-image : url('chrome://quickfilters/content/skin/pro-paid.png') !important;
}

tab#quickFilters-Pro.expired {
	list-style-image : url('chrome://quickfilters/content/skin/pro-expired.png') !important;
}


/*
menuitem.cmd[tagName="qfRegister"] .menu-iconic-icon {
	margin-left: -7px;
	margin-right: -7px;
}
*/

tab#quickFilters-Actions {
	list-style-image: url('chrome://quickfilters/content/skin/wrench.svg');
}

tab#quickFilters-FilterProperties {
	list-style-image : url('chrome://quickfilters/content/skin/QuickFilters.svg');
}

tab#quickFilters-Advanced {
	list-style-image : url('chrome://quickfilters/content/skin/settings.svg');
}

tab#quickFilters-Support {
	list-style-image : url('chrome://quickfilters/content/skin/info.svg') !important;
}

/* filter editor tools */
#quickFiltersEditorTools {
  display: inline-block;
  background: rgba(80,80,80,0.2); /*test */
}
/* Sort */
#quickFiltersEditorTools #quickFiltersBtnSort {
	list-style-image: url("chrome://quickfilters/content/skin/sort.svg");
}

#quickFiltersEditorTools #quickFiltersBtnSort > image,
#quickFiltersEditorTools #quickFiltersBtnSort > label {
  display: inline-block;
}

.helpLink {
  -moz-appearance: none !important;
  display: inline-block;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-top: 3px;
  width: 16px !important;
  min-width: 22px;
}

.helpLink {
  background-image: url('chrome://quickfilters/content/skin/info16.png');
}

.helpLink .tooltip {
  position: fixed;
  font-size: 13px;
  line-height: 20px;
  padding: 5px;
  background: white;
  border: 1px solid #ccc;
  visibility: hidden;
  opacity: 0; 
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: opacity 0.5s, visibility 0s;
  z-index: 1000;
}
.helpLink:not([tip-left]) .tooltip {
  right: 25px !important;
}

.helpLink[tip-left] .tooltip {
 /* left: 25px !important; */
}


.helpLink:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
