@import url('chrome://quickfilters/content/contribute.css');
@import url('chrome://quickfilters/skin/license.css');

/****** window & top panel ******/
#quickfilters-preferences {
  min-height: 400px;
}

#mainOptions {
  min-height:360px;
}

#qf-options-version {
  margin-top: 13px;
  margin-left: -5em;
  font: 12pt Calibri,arial,sans-serif;
  font-weight: bold;
  color: #FFFFFF;
  text-shadow: #000 0 0 1px, #606000 0 0 2px, #000 2px 2px 3px;
  cursor: pointer;
}

#qf-options-version:hover {
	border: 1px solid #883333;
	box-shadow: 3px 3px 2px rgba(40,40,40,0.6);
}

#qf-header-container {
	width: 100%;
	-moz-box-sizing: border-box;
	background-image: url("chrome://messenger/skin/preferences/background.png");
	background-color: transparent;
	color: -moz-fieldtext;
}

#qf-options-icon {
	height: 32px !important;
	width: 32px !important;
	padding: 0;
	margin: 0 5px;
}

#qf-youtube {
	cursor: pointer;
	max-height: 24px;
}

#qf-options-header {
	margin: 5px 5px 5px 5px;
	border: none;
	color: #ffffff;
	background-color: transparent !important;
}

#qf-options-header .dialogheader-title {
	margin: 0px !important;
	font-size: larger;
	font-weight: bold;
}

#qf-StandardColors {
	padding: 3px 10px;
}


label.textBoxLabel {
	vertical-align: bottom;
	padding-top: 4px;
}

hbox > textbox {
	max-height: 2em;
}
hbox > button {
	max-height: 3em !important;
}

/****** advanced tab	********/
#chkCurrentToolbarFiltersButton .checkbox-icon { 
  list-style-image: url("chrome://quickfilters/skin/filterList_16.png"); 
	-moz-image-region: rect(0px, 16px, 16px, 0px); 
}

#chkCurrentToolbarFolderButton .checkbox-icon { 
  list-style-image: url("chrome://quickfilters/skin/run-filters-folder-16.png"); 
	-moz-image-region: rect(0px, 16px, 16px, 0px); 
}

#chkCurrentToolbarMessagesButton .checkbox-icon { 
  list-style-image: url("chrome://quickfilters/skin/run-filters-msg-16.png"); 
	-moz-image-region: rect(0px, 16px, 16px, 0px); 
}

#chkCurrentFindFilterButton .checkbox-icon { 
  list-style-image: url("chrome://quickfilters/skin/searchFilters_16.png"); 
	-moz-image-region: rect(0px, 16px, 16px, 0px); 
}


/****** support tab	********/
label.text-link[href],
button.text-link[href] {
	padding: 4px 2px 4px 5px !important;
	vertical-align: middle !important;
}

label.text-link[href] > *,
button.text-link[href] > *,
label.plain-link {
	cursor: pointer;
	text-decoration: underline !important;
}

button.text-link[href]:hover,
label.text-link[href]:hover,
label.plain-link:hover {
	color: white !important;
	background-color: rgb(0,0,128) !important;
}

label.plain-link {
  /* vertical-align: baseline; */
	max-height: 1.9em;
  padding: 2px 0.5em;
}

button.debug {
	border-radius: 2px !important;
	-moz-appearance: none !important;
	background-color: #B00;
	color: #FFF;
	border: 1px solid gray;
	padding:2px 5px;
}

button.text-link[href]:focus,
label.text-link[href]:focus {
	color: #FFF !important;
	background-color: #06396F !important;
	border: 1px #006 solid;
	text-decoration: underline !important;
}

label.qfTabPreview {
	border: #AAA 1px solid;
	border-radius: 4px 5px 0 0;
	padding: 3px 8px;
	min-width:20px;
	max-height:22px;
	vertical-align:middle;
}

label [href^="mailto"] {
	text-decoration: underline	!important;
}

button.text-link,
label.text-link {
	border-radius: 0.5em;
	margin: 0.7em 6em 0.8em 10em!important;
	box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.7);
	transition-property: box-shadow, margin;
	transition-duration: 0.2s, 0.2s;
}

button.text-link:hover,
label.text-link:hover {
	margin: 1.0em 6.2em 0.5em 10.2em !important;
	box-shadow: 1px 1px 2px -1px rgba(0,0,0,0.8);
}

button.text-link,
button.text-link[visited="true"],
label.text-link, 
label.text-link[visited="true"] {
	border: 1px #AAA solid;
	padding: 4px 2px 6px 5px !important;
	text-decoration: underline !important;
	vertical-align: middle !important;;
	text-align: center;
	font-size: 12px;
}

/* quickFilters homepage - green */
#L1 {
  background: linear-gradient(to bottom, rgba(169,182,98,1) 0%, rgba(125,151,65,1) 50%, rgba(98,132,30,1) 51%, rgba(138,165,71,1) 100%);
	background-color: rgb(169,182,98) !important;
	color: #E0F0E0 !important;
}

#L1.text-link:focus  {
	color: #FFF !important;
	background: rgb(191,210,85);
	background: linear-gradient(to bottom, rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%) !important;
	border: 1px #006 solid;
  list-style-image: url("chrome://messenger/skin/preferences/arrow_green.png");
	text-decoration: underline !important;
}

label#L1:hover {
	color: #FFFFFF !important;
	background: linear-gradient(to bottom, rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%) !important;
	border: 1px #24463C solid;
}

label#L1:active {
	color: #FFFFFF !important;
	background: linear-gradient(to bottom, rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%) !important;
	border: 1px #24463C solid;
}

label#L1:active a {
	text-decoration: underline !important;
}

label#getCopySentToCurrent, #getCopySentToCurrent:focus {
	-moz-appearance: none !important;
	background: linear-gradient(to bottom, rgb(40, 132, 218) 0%, rgb(29, 104, 169) 15%, rgb(4, 45, 89) 50%, rgb(26, 92, 150) 83%, rgb(31, 110, 179) 100%);
	border: 1px solid rgb(187, 204, 238) !important;
	border-radius: 2px;
	color: #ffffff;
	padding: 3px;
	text-align: center !important;
}
label#getCopySentToCurrent:hover {
  background: linear-gradient(to bottom, rgba(66,158,244,1) 0%,rgba(23,139,241,1) 15%,rgba(3,88,179,1) 50%,rgba(14,130,232,1) 83%,rgba(32,144,242,1) 100%);
  text-decoration: underline !important;
}


/* youtube - red */
button#L2 {
	-moz-appearance: none;
  background: linear-gradient(to bottom, #6b0505 0%,#cc0000 31%,#ed3b3b 100%);
	color: #F0F0F0 !important;
	text-align: center;
  list-style-image: url("chrome://messenger/skin/preferences/youtube_small.png");
	-moz-image-region: rect(0, 16px, 16px, 0);
}

button#L2:hover,
button#L2:focus {
	background-color: rgb(251,202,159);
	background-image: linear-gradient(to bottom, #6b050e 0%,#cc0011 16%,#ed3b4a 85%,#ed8080 100%) !important;
	border: 1px #006 solid;
	color: #FFFFFF !important;
}

button#L2:active {
	background-image: linear-gradient(to bottom, #6b2905 0%,#cc4700 31%,#ed793b 100%) !important;
	text-decoration: underline;
	border: 1px #006 solid;
	color: #F0F0F0 !important;
}

/* contact - yellow */
label#L3  {
	color: #fff !important;
  background: linear-gradient(to bottom, rgba(241,194,75,1) 0%, rgba(241,194,75,1) 6%, rgba(172,128,6,1) 34%, rgba(240,188,46,1) 100%);
}

label#L3:hover, label#L3:focus {
	background-color: rgb(252,234,187) !important;
	background-image: linear-gradient(to bottom, rgba(252,234,187,1) 0%, rgba(252,234,187,1) 6%, rgba(248,181,0,1) 34%, rgba(251,223,147,1) 100%) !important;
	border: 1px #802D19 solid;
	color: #82370A !important;
	font-weight: bold;
  list-style-image: url("chrome://messenger/skin/preferences/arrow_yellow.png");
}

label#L3:active {
	color: #BA4E0B !important;
	border: 1px #802D19 solid;
}


/* bugs - cherry-red */
label#L5:hover, label#L5:focus {
	background-color: rgb(174,45,28) !important;
	background-image: linear-gradient(to bottom, rgba(174,45,28,1) 0%, rgba(214,90,79,1) 12%, rgba(193,53,38,1) 43%, rgba(126,24,8,1) 100%) !important;
	color: #fff !important;
	border: 1px #4B1400 solid;
}

label#L5:active {
	color: #FFF !important;
	text-shadow: #fdd 0 0 1px;
}


label#L1,label#L2,label#L3,label#L4,label#L5 {
	margin: 10px 30px;
	text-align: center;
	width: auto;
	text-shadow: none !important;
	font-style: normal;
}


description.quickhelp-desc, description.quickhelp-dbg {
	position:absolute;
	text-align:justify;
	max-width: 620px;
	padding: 2px 0px;
	margin: 1px 0px;
	line-height:1.2em;
	bottom:5px;
	overflow-y: scroll;
	overflow-x: auto;
}


description#importantNote {
	font-weight: bold;
	color: #A00 !important;
}

description.quickhelp-dbg, hbox.quickhelp-dbg {
	color:#CCC;
	padding: 3px 8px 3px 8px;
}

hbox.quickhelp-dbg {
	background-color:#333;
	background: linear-gradient(to bottom, rgba(174,188,191,1) 0%, rgba(110,119,116,1) 27%, rgba(10,14,10,1) 48%, rgba(10,8,9,1) 100%);
	border-radius: 0.5em;
}


#licenseContainer {
  /* min-height: 3em; */
}
.licenseSeparator {
  min-height: 10px;
}
.licenseKey {
  font-size: 10pt;
	font-family: Consolas, Courier, monospace;
}
#txtLicenseKey {
	height: 4.5em !important;
	min-width: 45em; /* avoid "shrinking" too much in licenseKey only mode */
}
.niceFont, 
.niceFont description, 
.niceFont button,
.niceFont button label
{
  font-family: cambria, Georgia, serif;
  font-size: 10.2pt;
}


.licenseError {
	border: 1px solid white;
	color: white !important;
	background: #A50B5E !important;
	padding: 5px;
}
.licenseWarning {
	border: 1px solid #00468C;
	color: #00468C !important;
	background: #FFD12A !important;
	padding: 5px;
}


#validationResults {
	max-height: 3em;
}
#validationResults description {
  max-width: 45em !important;
}
#validationResults:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

#validationPassed {
  color: rgb(0,120,0);
}

#currentFolderDescription {
	height: 32px; /* fix a problem with fieldset cutting into the last checkbox - force height of 2 lines! */
}
