@import url('chrome://quickfilters/content/skin/license.css');

/****** window & top panel ******/
#quickfilters-preferences {
  min-height: 400px;
}

#mainOptions {
  min-height:360px;
}

#qf-options-header {
  background-image: url("chrome://quickfilters/content/skin/QuickFilters-title.png");
  background-repeat: no-repeat;
  background-position: left center;   
	border: none;
	color: #ffffff;
  display: flex;
  
	margin: 0 3em 0 0;
  padding-block: 20px;
	background-color: transparent !important;
  width: 359px; 
}

#qf-options-header.pro {
  background-image: url("chrome://quickfilters/content/skin/QuickFilters-title-pro.png");
}

#qf-options-version {
  border: 1px transparent;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  font: 12pt Calibri,arial,sans-serif;
  font-weight: bold;
  margin-left: auto;
  margin-right: 1.3em;
  padding: 0 3px;
  text-shadow: #000 0 0 1px, #606000 0 0 2px, #000 2px 2px 3px;
}

#assistantIgnore {
	-moz-appearance: none !important;
	border: 1px solid rgba(90,90,90,0.7);
	border-radius: 3px;
  margin-top: 20px;
	padding: 0.6em;
}

#qf-options-version:hover {
	border: 1px rgba(100,60,60,0.6);
	box-shadow: 3px 3px 2px rgba(40,40,40,0.3);
}

#qf-header-container {
	box-sizing: border-box;
	width: 100%;
  margin-bottom: 8px;
}

#qf-options-icon {
	height: 64px !important;
	width: 64px !important;
	padding: 0;
	margin: 0 5px 0;
}

/* vertically center YT button */
#youtubeContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

#qf-youtubeBox {
  padding: 10px;
}

#qf-youtube {
	cursor: pointer;
	max-height: 24px;
}

#helpBox {
  display: block;
  position: fixed;
  top: 26px;
  right: 16px;
}

#quickFiltersBtnHelp {
	list-style-image: url("chrome://quickfilters/content/skin/help.svg");
}

#quickFiltersBtnHelp image.toolbarbutton-icon {
  width: 24px;
}


#qf-StandardColors {
	padding: 3px 10px;
}


label.textBoxLabel {
	vertical-align: bottom;
	padding-top: 4px;
}

hbox > textbox {
	max-height: 2em;
}
hbox > button {
	max-height: 3em !important;
}

/****** advanced tab	********/
#chkCurrentToolbarFiltersButton .checkbox-icon {
  list-style-image: url("chrome://quickfilters/content/skin/filterList.svg");
}

#chkFoldersShortcut .checkbox-icon, /* pro tab: shortcuts option */
#chkCurrentToolbarFolderButton .checkbox-icon {
  list-style-image: url("chrome://quickfilters/content/skin/runFilters.svg");
}

#chkMailsShortcut .checkbox-icon,  /* pro tab: shortcuts option */
#chkCurrentToolbarMessagesButton .checkbox-icon {
  list-style-image: url("chrome://quickfilters/content/skin/runFilters-selected.svg");
}

#chkCurrentFindFilterButton .checkbox-icon {
  list-style-image: url("chrome://quickfilters/content/skin/searchFilters.svg");
}



/****** support tab	********/
label.text-link[href],
button.text-link[href] {
	padding: 3px 2px 3px 5px !important;
	vertical-align: middle !important;
}

label.text-link[href] > *,
button.text-link[href] > *,
label.plain-link {
	cursor: pointer;
	text-decoration: underline !important;
}

button.text-link[href]:hover,
label.text-link[href]:hover,
label.plain-link:hover {
	color: white !important;
	background-color: rgb(0,0,128) !important;
}

label.plain-link {
  /* vertical-align: baseline; */
	max-height: 1.9em;
  padding: 2px 0.5em;
}

button.debug {
	border-radius: 2px !important;
	-moz-appearance: none !important;
	background-color: #B00;
	color: #FFF;
	border: 1px solid gray;
	padding:2px 5px;
}

button.text-link[href]:focus,
label.text-link[href]:focus {
	color: #FFF !important;
	background-color: #06396F !important;
	border: 1px #006 solid;
	text-decoration: underline !important;
}

label.qfTabPreview {
	border: #AAA 1px solid;
	border-radius: 4px 5px 0 0;
	padding: 3px 8px;
	min-width:20px;
	max-height:22px;
	vertical-align:middle;
}

label [href^="mailto"] {
	text-decoration: underline	!important;
}

button.text-link,
label.text-link {
	border-radius: 3px;
	margin: 0.7em 6em 0.8em 10em!important;
	/*! box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.6); */
	transition-property: box-shadow, margin;
	transition-duration: 0.2s, 0.2s;
}

button.text-link:hover,
label.text-link:hover {
	/*! margin: 1.0em 6.2em 0.5em 10.2em !important; */
	/*! box-shadow: 1px 1px 2px -1px rgba(0,0,0,0.8); */
}

button.text-link,
button.text-link[visited="true"],
label.text-link,
label.text-link[visited="true"] {
	border: 1px #AAA solid;
	padding: 4px 2px 6px 5px !important;
	/*! text-decoration: underline; */
	/* vertical-align: middle !important;
	/* text-align: center; */
	font-size: 12px;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #FF87ca;
}

.hover-underline-animation::before {
  content: '';
  position: absolute !important;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #FF87ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* quickFilters homepage - green */
#L1 {
  background: linear-gradient(to bottom, rgb(133, 153, 18) , rgb(95, 110, 15) );
	background-color: rgb(64, 75, 1) !important;
	color: #E0F0E0 !important;
}

#L1.text-link:focus  {
	color: #FFF !important;
	background: rgb(191,210,85);
	background: linear-gradient(to bottom, rgb(135, 158, 6) 0%, rgb(112, 146, 32) 50%, rgb(69, 95, 3) 100%) !important;
	border: 1px #006 solid;
  list-style-image: url("chrome://messenger/skin/preferences/arrow_green.png");
/* text-decoration: underline !important; */
}

label#L1:hover {
	/*! color: #FFFFFF !important; */
	/*! background: linear-gradient(to bottom, rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%) !important; */
	/*! border: 1px #24463C solid; */
	/*! text-decoration: underline !important; */
}

label#L1:active {
	color: #FFFFFF !important;
	background: linear-gradient(to bottom, rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%) !important;
	border: 1px #24463C solid;
	text-decoration: underline !important;
}

label#L1:active a {
	text-decoration: underline !important;
}

label#getCopySentToCurrent, #getCopySentToCurrent:focus {
	-moz-appearance: none !important;
	background: linear-gradient(to bottom, rgb(40, 132, 218) 0%, rgb(29, 104, 169) 15%, rgb(4, 45, 89) 50%, rgb(26, 92, 150) 83%, rgb(31, 110, 179) 100%);
	border: 1px solid rgb(187, 204, 238) !important;
	border-radius: 2px;
	color: #ffffff;
	padding: 3px;
	text-align: center !important;
}
label#getCopySentToCurrent:hover {
  background: linear-gradient(to bottom, rgba(66,158,244,1) 0%,rgba(23,139,241,1) 15%,rgba(3,88,179,1) 50%,rgba(14,130,232,1) 83%,rgba(32,144,242,1) 100%);
  text-decoration: underline !important;
}

/* youtube - red */
label#L2 {
	-moz-appearance: none;
  background: linear-gradient(to bottom, #860404 0%,#6b0505 100%);
	color: #F0F0F0 !important;
	text-align: center;
  list-style-image: url("chrome://messenger/skin/preferences/youtube_small.png");
	-moz-image-region: rect(0, 16px, 16px, 0);
}

label#L2:hover,
label#L2:focus {
	background-color: rgb(251,202,159);
	/*! background-image: linear-gradient(to bottom, #6b050e 0%,#cc0011 16%,#ed3b4a 85%,#ed8080 100%) !important; */
	border: 1px #006 solid;
	text-decoration: underline !important;
	color: #FFFFFF !important;
}

label#L2:active {
	background-image: linear-gradient(to bottom, #6b2905 0%,#cc4700 31%,#ed793b 100%) !important;
	text-decoration: underline;
	border: 1px #006 solid;
	color: #F0F0F0 !important;
}

/* contact - yellow */
label#L3  {
	color: #fff !important;
  background: linear-gradient(to bottom, rgba(241,194,75,1) 0%, rgba(241,194,75,1) 6%, rgba(172,128,6,1) 34%, rgba(240,188,46,1) 100%);
  text-decoration: none !important;

}

label#L3:hover, label#L3:focus {
	background-color: rgb(252,234,187) !important;
	background-image: linear-gradient(to bottom, rgba(252,234,187,1) 0%, rgba(252,234,187,1) 6%, rgba(248,181,0,1) 34%, rgba(251,223,147,1) 100%) !important;
	border: 1px #802D19 solid;
	color: #82370A !important;
	text-decoration: underline !important;
}

label#L3:active {
	color: #BA4E0B !important;
	border: 1px #802D19 solid;
}

/* Splash screen - blue */
label#L4  {
	color: #fff !important;
  background: linear-gradient(rgb(3, 128, 191) 0%, rgb(0, 110, 183) 100%);
  text-decoration: none !important;
}

label#L4:hover, label#L4:active  {
	text-decoration: underline !important;
}



/* bugs - dark gray */
#L5 {
	background-image: linear-gradient(to bottom, rgb(53, 53, 53) 0%, rgb(12, 12, 12) 100%) !important;
	background-color: rgb(27, 27, 27) !important;
	color: #E0F0E0 !important;
}

label#L5:hover, label#L5:focus {
	background-color: rgb(41, 9, 5) !important;
	background-image: linear-gradient(to bottom, rgb(53, 53, 53) 0%, rgb(34, 34, 34) 100%) !important;
	color: #fff !important;
	border: 1px #912801 solid;
}

label#L5:active {
	color: #FFF !important;
	text-shadow: #fdd 0 0 1px;
}


label#L1,label#L2,label#L3,label#L4,label#L5 {
	margin: 10px 30px;
	text-align: center;
	width: auto;
	text-shadow: none !important;
	font-style: normal;
  font-size: 14px;
}


div.quickhelp-desc, description.quickhelp-dbg {
	text-align:justify;
	max-width: 620px;
	padding: 2px 0px;
	margin: 1px 0px;
	line-height:1.2em;
	bottom:5px;
}


description#importantNote {
	font-weight: bold;
	color: #A00 !important;
}

description.quickhelp-dbg, hbox.quickhelp-dbg {
	color:#CCC;
	padding: 3px 8px 3px 8px;
}

hbox.quickhelp-dbg {
	background-color:#333;
	background: linear-gradient(to bottom, rgba(174,188,191,1) 0%, rgba(110,119,116,1) 27%, rgba(10,14,10,1) 48%, rgba(10,8,9,1) 100%);
	border-radius: 0.5em;
}

.columns {
  display: flex;
	gap: 1em;
}

.licenseSeparator {
  min-height: 10px;
}
.licenseKey {
  font-size: 10pt;
	font-family: Consolas, Courier, monospace;
}
#txtLicenseKey {
	height: 4.5em !important;
	min-width: 45em; /* avoid "shrinking" too much in licenseKey only mode */
}
.niceFont,
.niceFont description,
.niceFont button,
.niceFont label
{
  font-family: cambria, Georgia, serif;
  font-size: 10.2pt;
}


.licenseError {
	border: 1px solid white;
	color: white !important;
	background: #A50B5E !important;
	padding: 5px;
}
.licenseWarning {
	border: 1px solid #00468C;
	color: #00468C !important;
	background: #FFD12A !important;
	padding: 5px;
}


#validationResults {
	max-height: 3em;
}
#validationResults description {
  max-width: 45em !important;
}
#validationResults:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

#validationPassed {
  color: rgb(0,120,0);
}

#licenseDate {
  margin-left: 1.5em;
}

#licenseDate.valid {
  cursor: pointer;
}

#licenseDate.valid:hover {
  text-decoration: underline;
}


#currentFolderDescription {
	height: 32px; /* fix a problem with fieldset cutting into the last checkbox - force height of 2 lines! */
}

/* Dialog corrections */
tabpanel checkbox {
  margin-top: 1px;
  margin-bottom: 1px;
}

tabpanel label {
  padding-top: 1px;
  padding-bottom: 1px;
}

tabpanel fieldset {
  padding-top: 3px;
}

tabpanel fieldset legend {
  margin-top: 8px;
}

