/*
 * postbox. specific stuff
 */
 
#pbSearchThresholdNotifcationBar notification[value=quickfilters-filter] .messageCloseButton {
   visibility: collapse !important;
}
 
#pbSearchThresholdNotifcationBar notification[value=quickfilters-filter] button:nth-child(2) {
   -moz-appearance: toolbarbutton;
   /* background-image: close-button-option */
   list-style-image: url("chrome://quickfilters/content/skin/close-button.png");
   min-width: 16px;
   background-image: none;
}
#pbSearchThresholdNotifcationBar notification[value=quickfilters-filter] button:nth-child(2) > hbox {
   padding: 0 !important;
   margin: 0 !important;
   max-width: 16px;
   background-image: none;
}
#pbSearchThresholdNotifcationBar notification[value=quickfilters-filter] button:nth-child(2) label {
   visibility: collapse !important;
}
notification[value="quickfilters-proFeature"] .notification-button[accesskey] {
	background: -moz-linear-gradient(top, rgba(184,211,27,1) 0%,rgba(122,166,18,1) 50%,rgba(92,138,0,1) 51%,rgba(135,181,19,1) 100%) !important;
  -moz-animation: quickfiltersPulse 3s 1s ease-in-out infinite;
}
#buyBox {
	background-image: -moz-linear-gradient(left, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
}
 
/* Legacy Fixes for registration buttons etc. */ 
.product {
	background: -moz-linear-gradient(top, #fceabb 0%,#fccd4d 45%,#f8b500 56%,#fbdf93 100%);
}
#btnLicense {
	background: -moz-linear-gradient(top, rgba(184,211,27,1) 0%,rgba(122,166,18,1) 50%,rgba(92,138,0,1) 51%,rgba(135,181,19,1) 100%) !important;
}

#btnLicense:hover {
	background: -moz-linear-gradient(top, rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%) !important;
}

#btnDomainLicense {
	background: -moz-linear-gradient(top, rgb(104, 30, 154) 0%, rgb(132, 42, 216) 50%, rgb(123, 32, 202) 51%, rgb(179, 126, 232) 100%) !important;
}

#btnDomainLicense:hover {
	background: -moz-linear-gradient(top, rgba(200, 86, 175, 0.9) 0%, rgba(140, 15, 106, 0.9) 48%, rgba(109, 5, 76, 0.8) 100%) !important;
}

#btnLicense:active,
#btnDomainLicense:active
{
	background: -moz-linear-gradient(top, rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%) !important;
}
 