<!doctype html>
<html>
  <head>
    <title>quickFilters - {{ title }}</title>
    <link rel="stylesheet" href="/css/project.css?v33" type="text/css" />
    <!-- <link rel="alternate" type="application/rss+xml" title="News" href="/drupal/rss.xml" /> -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="google-site-verification" content="LTKICtodcLDl0nhBl2mUiXWMJbOtmEJmhYXVAqm_mJM" />
    <meta content="text/css" http-equiv="Content-Style-Type" />
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/footer.css" type="text/css">
    <link rel="icon" href="img/QuickFilters_16.png" type="image/png"> 
    <script src="script/ga.js"> </script>
    <script src="script/premium.js?v=2"> </script>
  </head>
  <body>
    <div id="main-content-no-nav">
      <h1 class="project-name" id="content">quickfilters</h1>

      <table id="project-navigation">

        <!--
        <tbody id="sub-projects" class="project-navigations">
          <tr>
            <th scope="row">subprojects:</th>
            <td class="navigation-list">  
              <a class="first-item" href="/subprojectdir/index.html">subproject name</a>
              <a href="/subprojectpage.html">subproject name</a>
            </td>
          </tr>
        </tbody>
        -->

        <tbody id="resources" class="project-navigations">
          <tr>
            <th scope="row"></th>
            <td class="navigation-list">
              <a href="/index.html" class="first-item">Home</a>
              <a href="/installation.html">Installation + Source Code</a>
              <a href="/version.html#latest">Version&nbsp;History</a>
              <a href="/donate.html">Support&nbsp;quickFilters!</a>
              <a href="/premium.html">Premium Features</a>
              <a href="/bugs.html">Bugs</a>
              <a href="/screenshots.html">Screenshots</a>
              <a href="/filtaquilla.html">FiltaQuilla</a>
              <a href="/fq-versions.html">FiltaQuilla History</a>
              <a href="/gdpr.html">Privacy Statement + Impressum</a>
            </td>
          </tr>
        </tbody>
      </table>
      {{ content | safe }}
    </div>
  </body>
</html>
