/* Copyright 2006 | Thierry Koblentz - www.TJKDesign.com All Rights reserved
 * TJK_ToggleDL() Version 1.5.5 (this file has changed from previous version) report bugs or errors to thierry@tjkdesign.com
 */
#TJK_ToggleON,#TJK_ToggleOFF {border:1px solid #333;padding:0 5px;margin-right:5px}
/* zeroing out padding and margin */
#TJK_DL dd,#TJK_DL dt {margin:0;padding:0}
/* margin for the DTs (shorthand) */
#TJK_DL dt {margin:7px 0}
/* image and left padding for DDs */
#TJK_DL dd {background:url(answer.gif) no-repeat;padding-left:55px}
dl[tag]#TJK_DL dd {background:url(Spacer.gif) no-repeat;padding-left:35px}

/* styling all anchors in the DTs */
#TJK_DL dt a {background:0 50% no-repeat; padding-left:32px !important; }
#TJK_DL dt a:visited {color:#666}
#TJK_DL dt a:visited:hover,
#TJK_DL dt a:hover,
#TJK_DL dt a:active,
#TJK_DL dt a:focus {font-weight:bold}
/* the + and - gif in the anchors */
#TJK_DL .DTplus a {background-image:url(Expand.png)}
#TJK_DL .DTminus a {background-image:url(Collapse.png)}
/**********************************/
/**********************************/
#TJK_DL .showDD {position:static;}
#TJK_DL dd,.hideDD{top:-9999px;position:absolute}
#TJK_ToggleON,#TJK_ToggleOFF {display:inline;cursor:pointer;cursor:hand}