h2.page-header.fq:before {
  content: url(http://quickfilters.mozdev.org/img/filtaquilla-32.png) !important;
}
h3:before {
  content: url(http://quickfilters.mozdev.org/img/filtaQuilla.png) !important;
}


pre.code {
  max-width: 800px;
}

pre.code, 
p.code {
  font-size: small;
  background: white;
  padding: 0.3em;
  margin: 0.3em;
  border: 1px solid rgb(180,180,180);
}

#version-history h4 {
  min-width: 20em;
  border-radius: 0;
  border: 1px rgba(60,60,60,0.5) solid;
}

*.callout {
  background: rgba(20,20,20,0.9);
  color: yellow;
}

h5.callout {
  font-size: 1.5em;
  font-weight: bold;
  padding: 8px;
}
span.callout {
  padding: 3px;
}


/* version history headings */
ul#version-history > li {
  list-style: none;
}

#version-history li > h4 {
  color: rgb(0,0,0,0.8);
  cursor: default;
  font-weight: normal;
  font-size: 10pt;
  margin-right: auto !important;
  padding-bottom: 0.3em;
  background: rgba(218,40,179,0.4);
  /*! background: linear-gradient(to bottom,  rgba(218,40,179,1) 0%, rgba(169,29,141,1) 15%, rgba(90,4,68,1) 50%, rgba(150,26,125,1) 83%, rgba(179,31,149,1) 100%); */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da28b3', endColorstr='#b31f95',GradientType=0 );  
}

#version-history li > h4 > a {
  color: rgba(0, 0, 0, 0.75) !important;
  cursor: pointer;
  display: inline-block;
  font-size: 12pt;
  margin-right: 0.5em;
  margin-top: 0.3em;
  padding-bottom: 0;
  font-weight:450;
  text-decoration: none;
}
#version-history li > h4 > a:hover {
  text-decoration: underline;
}

#version-history li > h4:before {
  content: url("/img/filtaQuilla.png");
  float: left;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 0.5em;
}