/*** quickFIlters Premium styles */
p.quickFiltersFreeUser,
p.quickFiltersProUser,
table.quickFiltersFreeUser,
table.quickFiltersProRenew,
.flashBox  {
	background: rgba(250,250,250,0.6);
  border: 2px solid rgba(60,60,60,0.5);
	border-radius: 10px;
	box-shadow: 4px 4px 3px rgba(20,20,20,0.3);
	margin-left: 30px;
	margin-bottom: 1.3em;
	max-width: 800px;
	padding: 0.5em 0.8em;
}

.quickFiltersProRenew p,
.quickFiltersFreeUser p {
  font-size: 1.1em;
}
.quickFiltersProRenew em,
.quickFiltersFreeUser em {
  font-weight: bold;
}

.bargain,
.psa {
	background: rgba(60,60,60,0.8) !important;
  box-shadow: inset 0.5em 0.5em 10px rgba(0,0,0,0.7);
	color: rgb(235, 235, 235) !important;
  padding: 1em;
}

.bargain a[href], 
.psa a[href], 
.bargain a[href]:visited, 
.psa a[href]:visited, 
.bargain a[href] {
	color: rgb(249, 113, 39) !important;
	white-space: nowrap; 
}

.bargain .emphasis {
	color: yellow; 
	font-weight: bold;
}


@keyframes quickfiltersPulse {
    0% { transform: scale(1.25); opacity: 0.6; }
    50% { transform: scale(1); opacity: 1; }
    100% { transform: scale(1.25); opacity: 0.6; }
}

#bargainStar {
	display: block;
	position: relative;
	left: -100px;
	top: -100px;
	opacity: 100%;
  animation: quickfiltersPulse 2.5s 1s ease-in-out infinite;
	width: 180px;
	z-index:1000;
}

#bargainStar:hover {
	animation-play-state: paused;
	opacity: 1 !important;
}

a[href].nohover {
	padding: 0 !important;
}

a[href].nohover:hover {
	background-color: transparent !important;
	background-image: none !important;
	border-style: none !important;
	border-radius: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
} 


/*** PROJECT LINKS - links to my other projects **/

#myProjects p > a:before {
	content: url('/img/arrowRight.png');
	margin: 0.2em 0.5em 0em 0.2em;
	vertical-align: top;
}

h4.SmartTemplate: before {
	content: url('/img/smartTemplate24.png');
	margin: 0.2em 0.5em 0em 0.2em;
	vertical-align: top;
}
  
h4.QuickFolders:before {
	content: url('/img/QF-Icon24.png');
	margin: 0.2em 0.5em 0em 0.2em;
	vertical-align: top;
}
  
h4.ZombieKeys:before {
	content: url('/img/zombie24.png');
	margin: 0.2em 0.5em 0em 0.2em;
	vertical-align: top;
}

h4.QuickFilters:before {
	content: url('/img/QuickFilters_24.png');
	margin: 0.2em 0.5em 0em 0.2em;
	vertical-align: top;
}

h4.QuickPasswords:before {
	content: url('/img/QuickPasswords-24x24.png');
	margin: 0.2em 0.5em 0em 0.2em;
	vertical-align: top;
}

h3.shillBox {
	border-radius: 0.2em !important;
	margin: 4px 0 !important;
}

/* sales related stuff... */
li.psa {
	list-style: square outside url('images/square-orange-small.png') !important;
	padding: 0.1em 1em !important;
	margin-top: 0.5em;
	border-radius: 0.3em;
	background-color: #3A3D41 !important;
	box-shadow: inset 0.5em 0.5em 10px rgba(0,0,0,0.7);
}

.psa .emphasis {
	color: yellow;
	font-weight: bold;
}
    
