td.navigation-list a[href*='screenshots.html'] {
  background-color: rgb(203,96,179);
  background: linear-gradient(to bottom,  rgba(203,96,179,1) 0%,rgba(173,18,131,1) 50%,rgba(222,71,172,1) 100%);
  border-bottom-color:  #93105A !important;
  color: #FFF !important;
  height: 27px !important;
  font-weight: normal;
}
