
@media (prefers-color-scheme: dark) {
  :root {
		--quickFilters-icon: rgba(255,255,255,0.9);
    --quickFilters-focusColor: #25ee06;
  }  
}

@media (prefers-color-scheme: light) {
  :root {
		--quickFilters-icon: rgba(0,0,0,0.9);
    --quickFilters-focusColor: #0f6f00;
  }
}

#QuickFolders-Toolbar toolbarbutton#QuickFolders-filterActive {
	background-color: transparent;
	padding: 0px 2px;
	margin: 0;
	min-height: 20px;
}


#QuickFolders-CurrentFolderTools #QuickFolders-currentFolderFilterActive,
#QuickFolders-Toolbar #QuickFolders-filterActive,
menuitem.cmd[tagName="qfFilter"],
menuitem.cmd[tagName="qfFilter"] .menu-iconic-icon {
  list-style-image: url("chrome://quickfilters/content/skin/QuickFilters.svg") !important;
  -moz-context-properties: fill;
  fill: currentColor;
}

#QuickFolders-Toolbar #QuickFolders-filterActive {
  -moz-context-properties: fill;
  fill: currentColor;
}


#QuickFolders-CurrentFolderTools #QuickFolders-currentFolderFilterActive[mode="filter"] {
  fill: #4fc825;
}


#mail-notification-box,
#pbSearchThresholdNotifcationBar {
	height: auto;
}

/* fix some accidental truncations */
#mail-notification-box notification[value=quickfilters-filter],
#pbSearchThresholdNotifcationBar notification[value=quickfilters-filter] {
	min-height: 6em;
}

#mail-notification-box notification[value=quickfilters-proFeature],
#pbSearchThresholdNotifcationBar notification[value=quickfilters-proFeature] {
	min-height: 44px;
}

/* overwrite menu icon (custom icon only working for submenus) */
#quickfilters_axelg_com-menuitem-_toggleFilterTools,
#quickfilters_axelg_com-menuitem-_findFiltersFolder,
#quickfilters_axelg_com-menuitem-_runFiltersFolderPane,
#quickfilters_axelg_com-menuitem-_createFromMailContext {
	-moz-context-properties: fill;
	fill: var(--lwt-text-color,--quickFilters-icon);
}

#quickfilters_axelg_com-menuitem-_toggleFilterTools,
#quickfilters_axelg_com-menuitem-_findFiltersFolder hbox,
#quickfilters_axelg_com-menuitem-_runFiltersFolderPane hbox,
#quickfilters_axelg_com-menuitem-_createFromMailContext hbox {
	background-position-y: 1px;
	background-repeat: no-repeat;
	fill: var(--lwt-text-color,--quickFilters-icon);
	
}

#quickfilters_axelg_com-menuitem-_toggleFilterTools hbox image,
#quickfilters_axelg_com-menuitem-_findFiltersFolder hbox image,
#quickfilters_axelg_com-menuitem-_runFiltersFolderPane hbox image,
#quickfilters_axelg_com-menuitem-_createFromMailContext hbox image {
	visibility: hidden;
}

/*icons */
#quickfilters_axelg_com-menuitem-_createFromMailContext hbox {
	background-image: url("chrome://quickfilters/content/skin/createFilter.svg") !important;
}

#quickfilters_axelg_com-menuitem-_runFiltersFolderPane hbox {
	background-image: url("chrome://quickfilters/content/skin/runFilters.svg") !important;
}

#quickfilters_axelg_com-menuitem-_findFiltersFolder hbox {
	background-image: url("chrome://quickfilters/content/skin/findFilters.svg") !important;
}

#quickfilters_axelg_com-menuitem-_toggleFilterTools hbox {
	background-image: url("chrome://quickfilters/content/skin/QuickFilters.svg") !important;
}



