#quickfilters-toolbar-button,
#quickFilters-wizard,
#quickFilters-fromMessage,
#quickFilters-fromMessageInMenu {
  list-style-image: url("chrome://quickfilters/content/skin/QuickFilters.svg") !important;
  -moz-context-properties: fill;
  fill: currentColor;
}

#quickfilters-current-runbutton,
#mail-toolbox > toolbar[brighttext] #quickfilters-current-runbutton.toolbarbutton-1 {
  list-style-image: url("chrome://quickfilters/content/skin/runFilters.svg");
}

#quickfilters-current-searchfilterbutton,
#quickfilters-menu-searchfilters {
  list-style-image: url("chrome://quickfilters/content/skin/searchFilters.svg");
}

#quickfilters-current-msg-runbutton {
  list-style-image: url("chrome://quickfilters/content/skin/runFilters-selected.svg");
}

#quickfilters-menu-findFilter {
  list-style-image: url("chrome://quickfilters/content/skin/findFilters.svg");
}

#quickfilters-menu-runMenu {
  list-style-image: url("chrome://quickfilters/content/skin/runFilters.svg");
}


/* new popup menu items */
#quickfilters-toggleAssistant, #quickfilters-runFilters, 
#quickfilters-runFiltersMsg, #quickfilters-menu-filterlist,
#quickfilters-options, #quickfilters-checkLicense, 
#quickfilters-gopro, #quickfilters-news, #quickfilters-changelog,
#quickfilters-menu-searchfilters {
  -moz-context-properties: fill;
  fill: currentColor;
}

#quickfilters-toggleAssistant {
  list-style-image: url("chrome://quickfilters/content/skin/QuickFilters.svg") !important;
}

#quickfilters-runFilters {
  list-style-image: url("chrome://quickfilters/content/skin/runFilters.svg") !important;
}

#quickfilters-runFiltersMsg {
  list-style-image: url("chrome://quickfilters/content/skin/runFilters-selected.svg") !important;
}

#quickfilters-options {
  list-style-image: url("chrome://quickfilters/content/skin/settings.svg") !important;
}

#quickfilters-checkLicense {
  list-style-image: url("chrome://quickfilters/content/skin/info.svg") !important;
}

#quickfilters-gopro {
  list-style-image: url("chrome://quickfilters/content/skin/QuickFilters_32.svg") !important;
}

#quickfilters-news, #quickfilters-changelog {
  list-style-image: url("chrome://quickfilters/content/skin/info.svg") !important;
}

#quickfilters-toolbar-button:not(.expired):not(.renew) #quickfilters-checkLicense {
  display: none;
}

#quickfilters-gopro.hasLicense {
  display: none;
}

/* optional menu items */
#quickfilters-toolbar-button:not(.newsflash) #quickfilters-news {
  display: none;
}
#quickfilters-toolbar-button.newsflash #quickfilters-changelog {
  display: none;
}

#quickfilters-toolbar-button.newsflash #quickfilters-news:hover {
  background: #870303 !important;
}
#quickfilters-toolbar-button.newsflash #quickfilters-news label {
  color: white !important;
}
#quickfilters-toolbar-button.newsflash #quickfilters-news image {
  fill: rgba(255, 255, 255, 0.95) !important;
}
#quickfilters-toolbar-button.newsflash #quickfilters-news:hover image {
  fill: white !important;
}

/* red icon if assistant is active */
#quickfilters-toolbar-button[checked="true"] .button-icon,
#quickfilters-toolbar-button[checked="true"] #quickfilters-toggleAssistant image {
  fill: #f30606 !important; 
}

li[item-id="ext-quickFilters@axelg.com"] .live-content.newsflash {
  background-color: rgba(240, 86, 175, 0.9);
  background-image: linear-gradient(rgba(240, 86, 175, 0.9) 0%, rgba(180, 15, 106, 0.9) 48%, rgba(109, 5, 76, 0.8) 100%) !important;
  border-radius: 4px;
}

#quickfilters-toolbar-button.newsflash #quickfilters-news  {
  background-color: rgba(240, 86, 175, 0.9); /* purple */
  background-image: linear-gradient(rgba(240, 86, 175, 0.9) 0%, rgba(180, 15, 106, 0.9) 48%, rgba(109, 5, 76, 0.8) 100%) !important;
}


#quickfilters-toolbar-button:where(.newsflash, .expired, .renew) > :where(label, .button-label) {
    color: white !important;
}

li[item-id="ext-quickFilters@axelg.com"] .live-content.expired {
  background-color: #b80015 !important; /* red */
  background: linear-gradient(to bottom, #890219 0%,#b80015 100%) !important; 
}

li[item-id="ext-quickFilters@axelg.com"] .live-content.renew {
  background-color: #ee570b !important; /* red */
  background: linear-gradient(to bottom, #893a02 0%,#ec6301 100%) !important; 
}

/* chevron styling */
#quickfilters-toolbar-button:where(.expired,.renew,.newsflash)  {
  fill: white;  /* drop !important ?  we need to overwrite for assistant mode! */
}

#quickfilters-toolbar-button:where(.expired, .newsflash):hover > :where(label,.button-label) {
  color: rgb(249, 235, 214) !important;
}

#quickfilters-toolbar-button:where(.expired, .renew, .newsflash) > :where(label, .button-label) {
  color: rgb(255,255,255) !important;
}

/*
#quickfilters-toolbar-button.expired:hover ,
#quickfilters-toolbar-button.newsflash:hover  */
li[item-id="ext-quickFilters@axelg.com"] .live-content.newsflash:hover,
li[item-id="ext-quickFilters@axelg.com"] .live-content.expired:hover
{
	background-color: #6d0202 !important; /* yellow */
	background-image: linear-gradient(to bottom, #6d0202 0%,#aa4e5c 100%) !important;
}

/* main icon */
#quickfilters-toolbar-button:not([checked=="true"]):where(.expired,.renew,.newsflash) > .button-icon {
  fill: #ffffff !important;
}

#quickfilters-toolbar-button:where(.expired, .newsflash):hover > .button-icon {
  fill: rgb(249, 235, 214) !important;
}

/* force visible label */
#quickfilters-toolbar-button:where(.expired, .renew, .newsflash) :where(.toolbarbutton-text, .button-label) {
  display: inline-block !important;
}

#quickfilters-toolbar-listbutton,
#quickfilters-current-listbutton,
#quickfilters-menu-filterlist {
  -moz-context-properties: fill, fill-opacity, stroke;
  fill: currentColor;
  list-style-image: url("chrome://quickfilters/content/skin/filterList.svg");
}


#quickfilters-toolbar-runbutton {
  -moz-context-properties: fill, fill-opacity, stroke;
  fill: currentColor;
  list-style-image: url("chrome://quickfilters/content/skin/runFilters.svg");
}

#quickfilters-toolbar-msg-runbutton {
  -moz-context-properties: fill, fill-opacity, stroke;
  fill: currentColor;
  list-style-image: url("chrome://quickfilters/content/skin/runFilters-selected.svg");
}
