#quickfilters-toolbar-button,
#quickFilters-wizard,
#quickFilters-fromMessage,
#quickFilters-fromMessageInMenu {
  list-style-image: url("chrome://quickfilters/content/skin/QuickFilters.svg") !important;
  -moz-context-properties: fill;
  fill: currentColor;
}

#quickfilters-current-runbutton,
#mail-toolbox > toolbar[brighttext] #quickfilters-current-runbutton.toolbarbutton-1 {
  list-style-image: url("chrome://quickfilters/content/skin/runFilters.svg");
}

#quickfilters-current-searchfilterbutton,
#quickfilters-menu-searchfilters {
  list-style-image: url("chrome://quickfilters/content/skin/searchFilters.svg");
}

#quickfilters-current-msg-runbutton {
  list-style-image: url("chrome://quickfilters/content/skin/runFilters-selected.svg");
}

#quickfilters-menu-findFilter {
  list-style-image: url("chrome://quickfilters/content/skin/findFilters.svg");
}

#quickfilters-menu-runMenu {
  list-style-image: url("chrome://quickfilters/content/skin/runFilters.svg");
}


/* new popup menu items */
#quickfilters-toggleAssistant, #quickfilters-runFilters, 
#quickfilters-runFiltersMsg, #quickfilters-menu-filterlist,
#quickfilters-options, #quickfilters-checkLicense, 
#quickfilters-gopro, #quickfilters-news, #quickfilters-changelog,
#quickfilters-menu-searchfilters {
  -moz-context-properties: fill;
  fill: currentColor;
}

#quickfilters-toggleAssistant {
  list-style-image: url("chrome://quickfilters/content/skin/QuickFilters.svg") !important;
}

#quickfilters-runFilters {
  list-style-image: url("chrome://quickfilters/content/skin/runFilters.svg") !important;
}

#quickfilters-runFiltersMsg {
  list-style-image: url("chrome://quickfilters/content/skin/runFilters-selected.svg") !important;
}

#quickfilters-options {
  list-style-image: url("chrome://quickfilters/content/skin/settings.svg") !important;
}

#quickfilters-checkLicense {
  list-style-image: url("chrome://quickfilters/content/skin/info.svg") !important;
}

#quickfilters-gopro {
  list-style-image: url("chrome://quickfilters/content/skin/QuickFilters_32.svg") !important;
}

#quickfilters-news, #quickfilters-changelog {
  list-style-image: url("chrome://quickfilters/content/skin/info.svg") !important;
}

#quickfilters-toolbar-button:not(.expired):not(.renew) #quickfilters-checkLicense {
  display: none;
}

#quickfilters-gopro.hasLicense {
  display: none;
}


#quickfilters-toolbar-button:not(.newsflash) #quickfilters-news {
  display: none;
}
#quickfilters-toolbar-button.newsflash #quickfilters-changelog {
  display: none;
}

#quickfilters-toolbar-button.newsflash #quickfilters-news:hover {
  background: #870303 !important;
}
#quickfilters-toolbar-button.newsflash #quickfilters-news label {
  color: white !important;
}
#quickfilters-toolbar-button.newsflash #quickfilters-news image {
  fill: rgba(255, 255, 255, 0.95) !important;
}
#quickfilters-toolbar-button.newsflash #quickfilters-news:hover image {
  fill: white !important;
}

#quickfilters-toolbar-button[checked="true"],
#quickfilters-toolbar-button[checked="true"] #quickfilters-toggleAssistant image {
  fill: #f30606 !important;
}


#quickfilters-toolbar-button.newsflash,
#quickfilters-toolbar-button.newsflash #quickfilters-news  {
  background-color: rgba(240, 86, 175, 0.9); /* purple */
  background-image: linear-gradient(rgba(240, 86, 175, 0.9) 0%, rgba(180, 15, 106, 0.9) 48%, rgba(109, 5, 76, 0.8) 100%) !important;
}

#quickfilters-toolbar-button.newsflash > label {
  color: white !important;
}

#quickfilters-toolbar-button.expired, #quickfilters-toolbar-button.newsflash.expired  {
  background-color: #b80015 !important; /* red */
  background: linear-gradient(to bottom, #890219 0%,#b80015 100%) !important; 
}
#quickfilters-toolbar-button.renew {
  background-color: #ee570b !important; /* red */
  background: linear-gradient(to bottom, #893a02 0%,#ec6301 100%) !important; 
}

#quickfilters-toolbar-button.expired > label,
#quickfilters-toolbar-button.renew > label {
  color: white !important;
}
#quickfilters-toolbar-button.expired > image,
#quickfilters-toolbar-button.renew > image {
  fill: white !important;
}

#quickfilters-toolbar-button.expired:hover > label,
#quickfilters-toolbar-button.newsflash:hover > label {
  color: rgb(249, 235, 214) !important;
}

#quickfilters-toolbar-button.expired > label,
#quickfilters-toolbar-button.renew > label,
#quickfilters-toolbar-button.newsflash > label {
  color: rgb(255,255,255) !important;
}
#quickfilters-toolbar-button.expired:hover ,
#quickfilters-toolbar-button.newsflash:hover {
	background-color: #6d0202 !important; /* yellow */
	background-image: linear-gradient(to bottom, #6d0202 0%,#aa4e5c 100%) !important;
}

#quickfilters-toolbar-button.expired > image,
#quickfilters-toolbar-button.renew > image,
#quickfilters-toolbar-button.newsflash > image {
  fill: #ffffff !important;
}

#quickfilters-toolbar-button.expired:hover > image,
#quickfilters-toolbar-button.newsflash:hover > image {
  fill: rgb(249, 235, 214) !important;
}

#quickfilters-toolbar-button.expired .toolbarbutton-text,
#quickfilters-toolbar-button.renew .toolbarbutton-text,
#quickfilters-toolbar-button.newsflash .toolbarbutton-text {
  display: inline-block !important;
}

#quickfilters-toolbar-listbutton,
#quickfilters-current-listbutton,
#quickfilters-menu-filterlist {
  -moz-context-properties: fill, fill-opacity, stroke;
  fill: currentColor;
  list-style-image: url("chrome://quickfilters/content/skin/filterList.svg");
}


#quickfilters-toolbar-runbutton {
  -moz-context-properties: fill, fill-opacity, stroke;
  fill: currentColor;
  list-style-image: url("chrome://quickfilters/content/skin/runFilters.svg");
}

#quickfilters-toolbar-msg-runbutton {
  -moz-context-properties: fill, fill-opacity, stroke;
  fill: currentColor;
  list-style-image: url("chrome://quickfilters/content/skin/runFilters-selected.svg");
}
