
#QuickFolders-Toolbar toolbarbutton#QuickFolders-filterActive {
	background-color: transparent;
	padding: 0px 2px;
	margin: 0;
	min-height: 20px;
}


#QuickFolders-CurrentFolderTools #QuickFolders-currentFolderFilterActive,
#QuickFolders-Toolbar #QuickFolders-filterActive,
menuitem.cmd[tagName="qfFilter"],
menuitem.cmd[tagName="qfFilter"] .menu-iconic-icon {
  list-style-image: url("chrome://quickfilters/content/skin/QuickFilters.svg") !important;
  -moz-context-properties: fill;
  fill: currentColor;
}

#QuickFolders-Toolbar #QuickFolders-filterActive {
  -moz-context-properties: fill;
  fill: currentColor;
}


#QuickFolders-CurrentFolderTools #QuickFolders-currentFolderFilterActive[mode="filter"] {
  fill: #4fc825;
}


#mail-notification-box,
#pbSearchThresholdNotifcationBar {
	height: auto;
}

/* fix some accidental truncations */
#mail-notification-box notification[value=quickfilters-filter],
#pbSearchThresholdNotifcationBar notification[value=quickfilters-filter] {
	min-height: 6em;
}

#mail-notification-box notification[value=quickfilters-proFeature],
#pbSearchThresholdNotifcationBar notification[value=quickfilters-proFeature] {
	min-height: 44px;
}

