#quickfilters-toolbar-button,
#quickFilters-wizard,
#quickFilters-fromMessage,
#quickFilters-fromMessageInMenu {
  list-style-image: url("chrome://quickfilters/content/skin/QuickFilters.svg") !important;
  -moz-context-properties: fill;
  fill: currentColor;
}

#quickfilters-current-runbutton,
#mail-toolbox > toolbar[brighttext] #quickfilters-current-runbutton.toolbarbutton-1 {
  list-style-image: url("chrome://quickfilters/content/skin/runFilters.svg");
}

#quickfilters-current-searchfilterbutton,
#quickfilters-menu-searchfilters {
  list-style-image: url("chrome://quickfilters/content/skin/searchFilters.svg");
}

#quickfilters-current-msg-runbutton {
  list-style-image: url("chrome://quickfilters/content/skin/runFilters-selected.svg");
}

#quickfilters-menu-findFilter {
  list-style-image: url("chrome://quickfilters/content/skin/findFilters.svg");
}

#quickfilters-menu-runMenu {
  list-style-image: url("chrome://quickfilters/content/skin/runFilters.svg");
}

#quickfilters-toggleAssistant {
  list-style-image: url("chrome://quickfilters/content/skin/QuickFilters.svg") !important;
}

#quickfilters-runFilters {
  list-style-image: url("chrome://quickfilters/content/skin/runFilters.svg") !important;
}

#quickfilters-runFiltersMsg {
  list-style-image: url("chrome://quickfilters/content/skin/runFilters-selected.svg") !important;
}

#quickfilters-options {
  list-style-image: url("chrome://quickfilters/content/skin/settings.svg") !important;
}

#quickfilters-checkLicense {
  list-style-image: url("chrome://quickfilters/content/skin/info.svg") !important;
}

#quickfilters-gopro {
  list-style-image: url("chrome://quickfilters/content/skin/QuickFilters_32.svg") !important;
}

#quickfilters-news, #quickfilters-changelog {
  list-style-image: url("chrome://quickfilters/content/skin/info.svg") !important;
}

#quickfilters-toolbar-button:not(.expired):not(.renew) #quickfilters-checkLicense {
  display: none;
}

#quickfilters-gopro.hasLicense {
  display: none;
}

/* optional menu items */
#quickfilters-toolbar-button:not(.newsflash) #quickfilters-news {
  display: none;
}
#quickfilters-toolbar-button.newsflash #quickfilters-changelog {
  display: none;
}

#quickfilters-toolbar-button.newsflash #quickfilters-news:hover {
  background: #870303 !important;
}
#quickfilters-toolbar-button.newsflash #quickfilters-news label {
  color: white !important;
}
#quickfilters-toolbar-button.newsflash #quickfilters-news image {
  fill: rgba(255, 255, 255, 0.95) !important;
}
#quickfilters-toolbar-button.newsflash #quickfilters-news:hover image {
  fill: white !important;
}

/* red icon if assistant is active */
#quickfilters-toolbar-button[checked="true"] .button-icon,
#quickfilters-toolbar-button[checked="true"] #quickfilters-toggleAssistant image {
  fill: #f30606 !important; 
}

#quickfilters-toolbar-button:where(.newsflash, .expired, .renew) > :where(label, .button-label) {
  color: white !important;
}

/* main icon */
#quickfilters-toolbar-button:not([checked="true"]):where(.expired,.renew,.newsflash) > .button-icon {
  fill: #ffffff !important;
}

#quickfilters-toolbar-button:where(.expired, .newsflash):hover > .button-icon {
  fill: rgb(249, 235, 214) !important;
}

/* force visible label */
#quickfilters-toolbar-button:where(.expired, .renew, .newsflash) :where(.toolbarbutton-text, .button-label) {
  display: inline-block !important;
}

#quickfilters-toolbar-listbutton,
#quickfilters-current-listbutton,
#quickfilters-menu-filterlist {
  -moz-context-properties: fill, fill-opacity, stroke;
  fill: currentColor;
  list-style-image: url("chrome://quickfilters/content/skin/filterList.svg");
}

#quickfilters-toolbar-runbutton {
  -moz-context-properties: fill, fill-opacity, stroke;
  fill: currentColor;
  list-style-image: url("chrome://quickfilters/content/skin/runFilters.svg");
}

#quickfilters-toolbar-msg-runbutton {
  -moz-context-properties: fill, fill-opacity, stroke;
  fill: currentColor;
  list-style-image: url("chrome://quickfilters/content/skin/runFilters-selected.svg");
}
